<h1>Listing api_javascripts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_javascripts.each do |api_javascript| %>
  <tr>
    <td><%= api_javascript.name %></td>
    <td><%= api_javascript.body %></td>
    <td><%= link_to 'Show', api_javascript %></td>
    <td><%= link_to 'Edit', edit_api_javascript_path(api_javascript) %></td>
    <td><%= link_to 'Destroy', api_javascript, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Javascript', new_api_javascript_path %>
