<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @api_javascript.name %>
</p>

<p>
  <b>Body:</b>
  <%= @api_javascript.body %>
</p>


<%= link_to 'Edit', edit_api_javascript_path(@api_javascript) %> |
<%= link_to 'Back', api_javascripts_path %>
